table{
    border-collapse: collapse;
  }

  th{
    text-align: left;
    padding: 1em 0.5em;
    padding-bottom: 0.6em;
    background: rgb(26, 26, 26);
    color: whitesmoke;
  }

  td{
    padding: 1em 0.5em;
    font-size: smaller;
    border-bottom: 1px solid lightgray;
  }

  tr:hover td{
    cursor: pointer;
    background: lightgray
  }

  th:nth-child(1), tr td:nth-child(1){
    padding-left: 1em
  }